<!-- User info container-->
<div class="container">
	
	<div class="jumbotron">
      <div class="container">
      	<div class="notification alert alert-success">
	       <strong>Oh snap!</strong> Change a few things up and try submitting again.
	    </div>
        <h1>Hello, Timesheet!</h1>
        <!-- Button trigger modal -->



        <!-- <p><a class="btn btn-primary btn-lg" role="button">Learn more »</a></p> -->
        <div class="bs-example staff-info">
        	<i class="edit-user-btn fa fa-edit fa-2x" data-toggle="modal" data-target="#myModal"></i>
	        <table class="table">
	          <tr>
	          	<td class="header">Name</td>
	          	<td class="value"> {{formData.user.fullname}}</td>
	          	<td class="header">Working Site</td>
	          	<td class="value">Fujixerox</td>
	          </tr>
	          <tr>
	          	<td class="header">Code</td>
	          	<td class="value"></td>
	          	<td class="header">Project</td>
	          	<td class="value"></td>
	          </tr>
	          <tr>
	          	<td class="header">Dept</td>
	          	<td class="value"></td>
	          	<td class="header">Timesheet of month</td>
	          	<td class="value">
	                
	          	</td>
	          </tr>
	          <tr>
	          	<td class="header">Start from</td>
	          	<td class="">
	          	
	          		
	          	  <div id="timemonth" class="input-group date form_datetime" data-date=""  data-link-format="YYYY-MM" data-link-field="dtp_input1">
	          	  	<i class="time-load fa fa fa-spinner fa-spin" ng-show="loadingTimeData"></i>
                    <input ng-change="getTimeData()" class="form-control" size="10" type="text" value="" data-date-format="YYYY-MM" ng-model="monthstr">
					<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                  </div>
	          	  <input type="hidden" id="dtp_input1" value="" />
	          	
	          	</td>
	          	<td class="header">Standard Working Hour</td>
	          	<td class="value"></td>
	          </tr>
	          <tr>
	          	<td class="header">Contract Type</td>
	          	<td class="value"></td>
	          	<td class="header">Lunch time</td>
	          	<td class="value"></td>
	          </tr>
	        </table>
	    </div>
	    
        
      </div>
      
    </div>
    
    <!-- User Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content user-info">
	      <div class="modal-header">
	        <h4 class="modal-title" id="myModalLabel">UPDATE {{formData.user.local.username}}</h4>
	      </div>
	      
	      
	      
	      <form role="form" ng-submit="updateUser()">
	      
	      <div class="modal-body">
	      	
	  		  <div class="form-group">
		      	<label for="fullname">Name</label>
		        <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Full name" ng-model="formData.user.fullname">
		      </div>
		      <div class="form-group">
		        <label for="inputemail">Email</label>
		    	<input type="email" class="form-control" id="inputemail" name="email" placeholder="Email" ng-model="formData.user.local.email" >
		      </div>
		    	
	      </div>
	      
	      <div class="modal-footer">
	      	<i class="fa fa fa-spinner fa-spin" ng-show="formData.user.updating"></i>
	        <button type="submit" class="btn btn-primary">Save</button>
	      </div>
	      
	      </form>
	      
	    </div>
	  </div>
	</div><!-- End user modal-->

</div><!-- End user info container-->