<!doctype html>
<html ng-app="scotchTodo">
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="/lib/bootstrap-3.2.0/css/bootstrap.css">
	<link rel="stylesheet" href="/lib/bootstrap-3.2.0/css/docs.min.css">
	<link rel="stylesheet" href="/lib/font-awesome-4.2.0/css/font-awesome.css">
	<link rel="stylesheet" href="/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" />
	<link rel="stylesheet" href="/lib/footable/css/footable.core.css">
	<link rel="stylesheet" href="/lib/footable/css/footable.standalone.css">
	<link rel="stylesheet" href="/lib/angularjs-nvd3/nv.d3.css">
	<link rel="stylesheet" href="/lib/kartik-v-bootstrap-fileinput/css/fileinput.css">
	<link rel="stylesheet" href="/lib/bootstrap-select/css/bootstrap-select.css">
	
	<link rel="stylesheet" href="css/main.css ">
	<style>
		body { padding-top:0px;}
	</style>
	
	
	<!-- MEAN stack app-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script><!-- load angular 1.2.4 -->

	<script src="/lib/bootstrap-3.2.0/js/bootstrap.js"></script> <!-- load up bootstrap js -->
	<script src="/lib/kartik-v-bootstrap-fileinput/js/fileinput.js"></script>
	<script src="/lib/footable/js/footable.js"></script>
	
	<script type="text/javascript" src="/lib/moment/moment-with-locales.js"></script>
	<script type="text/javascript" src="/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.js"></script>
	
	<!-- angular nvd3 lib-->
	<script src="/lib/angularjs-nvd3/d3.js"></script>
	<script src="/lib/angularjs-nvd3/nv.d3.js"></script>
	<script src="/lib/angularjs-nvd3/angularjs-nvd3-directives.js"></script>
	
	<!--bootstrap select-->
	<script src="/lib/bootstrap-select/js/bootstrap-select.js"></script>
	
	<!-- own script-->
	<script src="js/controllers/functions.js"></script>
	<script src="js/controllers/main.js"></script> <!-- load up our controller -->
	<script src="js/services/todos.js"></script> <!-- load our todo service -->
	<script src="js/core.js"></script><!-- load our main application -->
	
</head>
<body ng-controller="mainController">


<!-- message  -->
<div id="messages" class="notification-center alert alert-success" ng-show="formData.user.updateSuccess">{{ formData.user.updateSuccess }}</div>
<div id="" class="notification alert alert-error" ng-show="formData.user.updateFail">{{ formData.user.updateFail }}</div>

<% include partials/navheader.ejs %>

<% include partials/userinfo.ejs %>

<!-- Time data container-->
<div class="ts-container">
  

    <div class="control row">
      <div id="timemonth" class="input-group date col-sm-3" data-date=""  data-link-format="YYYY-MM" data-link-field="dtp_input1">
        
        <input ng-change="getTimeData()" class="form-control" size="10" type="text" value="" data-date-format="YYYY-MM" ng-model="monthstr">
        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
        <i class="time-load fa fa fa-spinner fa-spin" ng-show="loadingTimeData"></i>
      </div>
  <!--<input type="hidden" id="dtp_input1" value="" />-->
      <% if (isApprover) {%>
        <div class="select-staff col-sm-9">
            <select class="selectpicker" data-live-search="true">
                <option class="selfopt"><%= user.local.username%></option>
            <% user.staffs.forEach(function(el, index) {%>
                <option><%= el.local.username%></option>
            <% });%>
            </select>
            <input class="selectstaff" type="text" style="display: none;" ng-model="formData.selectingUsername" />
        </div>
      <% }%>
    </div>
  
  <div class="bs-timesheet bs-example">
  	
    <!-- TAB  -->
	    <ul class="nav nav-tabs" id="myTab">
		  <li class="active"><a href="#home" data-toggle="tab">Time</a></li>
		  <li><a href="#overtime" data-toggle="tab">OverTime</a></li>
		  <li><a href="#chart" data-toggle="tab">Chart</a></li>
		  <li><a href="#settings" data-toggle="tab">Settings</a></li>
		  <div class="ts-submit">
		  	<i class="fa fa fa-spinner fa-spin" ng-show="savingTimeData"></i>
		  	
		  	<div class="btn-group">
		  	    <button type="button" class="savebtn btn btn-primary" ng-show="formData.loginUser.local.username != formData.user.local.username" ng-click="approveTime()">
                    <i class="fa fa-check-square-o" style="font-size: 16px;"></i>&nbsp;
                    Approve
                </button>
			  	<button type="button" class="savebtn btn btn-success disabled" ng-show="formData.loginUser.local.username == formData.user.local.username" ng-click="applyTimeData()">
			  		<i class="fa fa-check-circle-o"></i>&nbsp;
			  		Apply
			  	</button>
			  	<button type="button" class="savebtn btn btn-success" ng-click="saveTimeData()">
			  		<i class="fa fa-floppy-o"></i>&nbsp;
			  		Save
			  	</button>
			  	
		  	</div>
		  	
		  </div>
		</ul>
		
		<div class="tab-content">
		  <div class="tab-pane active" id="home">
		  <!-- Timesheet Table -->
<!-- 			  <table id="ts-table" class="timesheet table table-striped">
		      
		      </table> -->
		      <table id="ts-table" class="toggle-square-filled">
		      	<thead>
		      	  <th ng-repeat="field in timeDatas.fields" data-hide="{{ field.hide }}" ng-style="field.colStyle" data-type="ngele" >
		      	  	{{field.name}}
		      	  </th>
		      	</thead>
		      	<tr ng-repeat="timeData in timeDatas.data" on-last-repeat ng-class="{'tr-today': timeData.today}" ng-init="outerIndex = $index">
				  <td ng-repeat="field in timeDatas.fields" ng-style="field.style" ngInit=""
				  		ng-class="cellClass( field.name, outerIndex)" >
				  	<span ng-if="field.fieldType === 'label'" >{{timeData[$index]}}</span>
				  	<input ng-if="field.fieldType === 'input'" type="text" ng-model="timeData[$index]" ng-class="inputClass(outerIndex, field, $index)" style="" />
				  	<textarea ng-if="field.fieldType === 'textarea'" ng-model="timeData[$index]" ng-class="inputClass(outerIndex, field, $index)" style="width: 100%; height: 97%; border: none;"></textarea>
				  	<!--<span ng-if="field.fieldType === 'textarea'" >{{timeData[field.name]}}</span>-->
				  </td>
				</tr>
		      
			  </table>
		  </div>
		  <div class="tab-pane" id="overtime">

		  </div>
		  <div class="tab-pane" id="chart">
		  	<% include partials/chart %>
		  </div>
		  <div class="tab-pane" id="settings">...</div>
		</div>
	
	<script>
	  $(function () {
	    $('#myTab a:first').tab('show');
	  });
	</script>
	
		<!-- <input id="spinner" name="spinner" value="08:30 PM"> -->
	
  </div><!-- end bs-timesheet-->
  
</div><!-- end ts-container-->

<!-- Time view-->


</body>
</html>