hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.jumbotron p {
  font-size: 16px;
  font-family: arial;
}

.staff-info td.header{
	width: 20%;
}
.staff-info td.value{
	width: 25%;
}

.bs-example:after {
	content: "staff information";
}

.edit-user-btn {
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
	display: none;
}

.edit-user-btn:hover {
	color: rgb(70, 124, 70);
}

.staff-info:hover .edit-user-btn {
	display: block;
}

.notification-center {
  margin: auto;
  position: fixed;
  left: 0; right: 0; top: 20px;
  height: 50px;
  width: 75%;
  z-index: 9999;
  text-align: center;
  opacity: 0.9;
  box-shadow: 10px 10px 5px #888888;
}

.modal-content.user-info:after{

}

.ts-container{
	padding: 10px;
	margin-top: 80px;
}

.control .date{
	float: left;
	margin-bottom: 5px;
}

.select-staff .bootstrap-select.btn-group{
	float: right;
}

.bs-timesheet.bs-example{
	margin-top: 10px;
	margin-bottom: 35px;
}

.bs-timesheet.bs-example:after{
	content: "Time Table";	
}

.bs-timesheet .ts-submit{
	position: absolute;
	right: 15px;
}

.bs-timesheet .ts-submit.affix{
	position: fixed;
	bottom: 6px;
	right: 26px;
}

.bs-timesheet .ts-submit .savebtn{
	width: 120px;
}

.bs-timesheet .ts-submit.affix .savebtn{

}
.bs-timesheet .ts-submit.affix .savebtn:hover{
}

.ts-container table{
	margin-top: 10px;
}

.ts-container #ts-table{
	margin-top: 10px;
	font-family: meiryo, Arial;
}

#ts-table tr.tr-today{
	background: rgba(147, 200, 237, 0.2);
}

#ts-table td.day-6{
	color: blue;
}
#ts-table td.day-0{
	color: red;
}

#ts-table td:hover span.footable-toggle{
	color: rgb(90, 113, 203);
}

#ts-table td .time-input{
	width: 100%; height: 100%; border: none;
}

#ts-table td .diff{
	background: rgba(84, 119, 231, 0.5);
}

.footable.breakpoint > tbody > tr.footable-row-detail {
	background: #F3F7F7;
}

#timemonth .time-load{
	position: absolute;
	right: -20px;
	top: 8px;
}

.footable {
	font-size: 12px;
	line-height: 1;
}

.name-bar {
	position: absolute;
	width: 100%;
}
.name-bar.affix {
	position: fixed;
	top: 0px;
	z-index: 1000;
	opacity: 0.8;
	height: 60px;
}

.list-group {
	
}

.list-group.affix {
	position: fixed;
	top: 60px;
}

/*
 * multi view table
 */
.ts-container .multiview-tbl{
	font-family: meiryo, Arial;
}

.ts-container .multiview-tbl a.detail{
	cursor: pointer;
}

.ts-container .multiview-tbl button.btn{
	font-size: .8em;
}

@media screen and (max-width: 767px) {
  .list-group.affix {
	position: relative;
	top: 0px;
  }
}